In [16]:
import json

In [2]:
json_data=[
     {'Employee':"Akash",'salary':500000,'id':607},
     {'Employee':"Roger",'salary':75000, 'id':608},
     {'Employee':"Aldrin",'salary':45000,'id':607},
     {'Employee':"Yazh",'salary':75000,'id':613},
     {'Employee':"Flora",'salary':80000,'id':606},
     {'Employee':"Raina",'salary':54000,'id':612}
    
]

In [3]:
json_string =json.dumps(json_data)

In [4]:
import mysql.connector

In [7]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="shinchan"
)

In [8]:
dbse = mydb.cursor()

dbse.execute("CREATE DATABASE employee_JSONRECORDS")

In [9]:

mydb = mysql.connector.connect(
  host="localhost",
 user="root",
  password="shinchan",
  database="employee_JSONRECORDS"
)
dbse = mydb.cursor()

dbse.execute("CREATE TABLE Employee_dtl (Employee VARCHAR(255),salary INT,id INT)")

In [15]:
dbse = mydb.cursor()
sql = "INSERT INTO Employee_dtl(Employee,salary,id) VALUES (%s,%S,%S)"
value=(for i in res: res[i])
                         
dbse.execute( sql, value)

print("Sucessfully inserted json files to DB")

SyntaxError: invalid syntax (Temp/ipykernel_10848/2544377325.py, line 3)